/vendor
/public/download

node_modules
Homestead.yaml
Homestead.json
.env
.env.php
.buildpath
.project
.htaccess
public/download/
tags
*.swp
local.config.php
.idea
.npm-log
info.php
composer.lock
gulp.log
/public/js/app.js